.card {
    transition: transform 0.2s; /* Hiệu ứng khi di chuột vào */
    border-radius: 15px;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
    }

.btn-primary {
    background-color: #0078d4; /* Màu xanh đặc trưng của .NET */
    border: none;
}